* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  margin: 0 auto;
}

.todo {
  margin: 0 auto;
}
.header {
  width: 100%;
  text-align: center;
  height: 50px;
  background-color: #5e00b8;
  align-items: center;
  color: white;
  font-size: 18px;
  line-height: 50px;
}

.card {
  width: 700px;
  height: 120px;
  border: 1px solid #999;
  box-shadow: whitesmoke;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.add-todo {
  margin: 10px 0;
  width: 80%;
  height: 40px;
  padding: 10px;
  font-family: inherit;
  border: 1px solid #ccc;
}

.btn {
  background-color: #5e00b8;
  padding: 10px;
  text-transform: uppercase;
  color: white;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.btn:hover,
.btn--alt {
  background-color: white;
  color: #5e00b8;
  border: 1px solid #5e00b8;
}

.btn--alt:hover {
  background-color: #5e00b8;
  color: white;

}

.todo-list {
  width: 700px;
  text-align: center;
  margin: 30px auto 0;
}

.todo-item {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.modal {
  height: 120px;
  width: 400px;
  margin: 0 auto;
  border: 2px solid #eee;
  text-align: center;
  background-color: white;
  z-index: 999;
  position: fixed;
  top: 120px;
  left: 0;
  right: 0;
  border-radius: 10px;
}

.modal h2 {
  margin-top: 5px;
}

.actions {
  display: flex;
  align-items: center;
  text-align: center;
  width: 50%;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 20px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2)

}